@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Sanchez&display=swap');
.custom-font{
    font-family: 'Commissioner', sans-serif;
}
html{
    scroll-behavior: smooth;
    transition-duration: 1s;
}
body{
    background-color: #0f292f;
}
.custom-font1{
 font-family: 'Sanchez', serif;
 font-size: xx-large;
}
.coloredbx{
    background-color:#14A098;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.icons:hover{
    filter:drop-shadow(2px 2px 4px black );
}
.cstheight{
    max-height: 400px;
}
.navbar{
    border-bottom: 3px solid #14A098;
    box-shadow: 1px 2px 4px black;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
    transition: 1s;
    box-shadow: 1px 2px 2px rgb(0, 0, 0);
    border-color:aliceblue;
}
.tiles{
    max-width: 80%;
    max-height: 80%;
}
.shdw{
    box-shadow: 2px 2px 4px black;
    transition: 1s;
}
.shdw:hover{
    transition: 0.5s; 
    box-shadow: 8px 8px 10px  black;
}
.nav-link{
    color:#14A098;
    font-family:'Commissioner', sans-serif;
    font-weight: 550;
}
.navbar-nav > li{
    color:#14A098;
    padding-left: 70px;
}
.center{
    text-align: center;
}
.but1{
    color: #14A098;
    border-color: #14A098;
    width:300px;
    height:30px;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 15px;
    font-style: oblique;
}
.txtbdy{
    font-family: 'Commissioner', sans-serif;
    color:aliceblue;
    font-size: medium;
    font-style: oblique;
    padding-left: 10px; 
}
.textabt{
    font-family: 'Commissioner', sans-serif;
    color:aliceblue;
    font-size: x-large;
    font-style: oblique;
    padding-left: 10px;
}
.imgal{
    text-align: right;
}
.titles{
    font-size: 40px;
}
.icon{
    max-height: 60px;
}
.cnt{
    font-family: 'Sanchez', serif;
    color:aliceblue;
    font-size: x-large;
}